.VueTables__search,
.VueTables__search-field {
    width: 80%;
}

.VuePagination__pagination.pagination.VuePagination__pagination {
    display: inline-flex;
}

.breadcrumb {
    background-color: transparent;
}
